<div style="padding-top: 50px">
  <p>
  This site shows photos from visitors and our happy customers from  <a href="http://www.turtlebaydiveresort.com">Turtle Bay Dive Resort</a>, a well-known resort in Moalboal Cebu Philippines which offers the best diving experience.
  </p>
  <p>
  Enjoy our photos.
  </p>
  <p>
  Please visit our main website. <a href="http://www.turtlebaydiveresort.com">http://www.turtlebaydiveresort.com</a>  
  </p>
</div>
