<%= link_to "Add", new_photo_path %>

<% @photos.each do |photo|%>
<div style="width: 850px; float: left; padding: 5px">
 <%= image_tag(photo.attach(:thumb), :style=> "float: left; padding: 5px") %>
 Photographer: <%= photo.photographer.fullname rescue '' %> <br/>
 Description : <%= photo.description %>
 <%= link_to "Delete", delete_photo_path(:id => photo.id), :confirm => "Are you sure?"%>
</div>
<% end %>