<% form_for :photo, :url => photos_path, :html => {  :multipart => true } do |f|%>
Photographer: 
<%= f.select :photographer_id, options_for_select(@photographers,nil) %>
<br/>
Description: 
<%= f.text_field :description, :maxlength => 40 %>
<br/>
<%= f.file_field :attach %>
<br/>
<%= submit_tag "Submit" %>
<% end %>