<div id="logo">
  <div style="cursor:pointer", onclick = "location.href='<%= root_url -%>'" >
    <H1>DIVE PESCADOR</H1>
  </div>
  <div style="margin-top: -10px; padding-left: 10px">
  Diving photos from Turtle Bay Dive Resort
  </div>
</div>

<div id="user_menu">
  <ul>
    <li><%= link_to "About Us", aboutus_path %> </li>
  </ul>
</div>